@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub&family=Merriweather:wght@300&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

html{
    height: 100%;
}

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffd1dc ;
}

h1,h2,h3,h4,h5,h6,p
{
    line-height: 1.1;
    margin: 0;
}

p
{
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    text-indent: 1.5em;
}



.container
{
    
    margin: 0 auto;
    align-items: center;
    width: 100%;
    
    
}




/***********************************/


.typin{
    align-items: center;
    display: inline-block;
    font-family: "arial";
    font-size: 24px;
    padding-left: 41.3%;
    
  }
  
  .typed {
    overflow: hidden;
    margin: 0;
    margin-right: auto;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }





/***********************************/





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }




/********************************/













.headback
{
    background-color: #666666;
    background-image: url('https://lh3.googleusercontent.com/fife/AK0iWDxuGHV5raPslijTmE2stTXhggGmHZVha5zNN5_BBgRgW-DMhxZS446OewLF96LoV-WRSOKcMei5S3fj3ViRo-QB0fsCEAGWMBxtsLzb--HEqet5Pu20Zylv0_TwTHmOi6byWYg8DQesAUwc1Qho8r3hwOqXSvIzdhxL-NrAMHiRHc1dM8DvVaTK_rn9IlmBY8Vu8y0gSCgyZyz0b8kjqpQpxEas1WMcqx1O0PaI2KMqDcRqkljaG_edosmUQO6o2EDWfxgKqZy-V2qCJAGtPraAamRdkB_FyW5a9M_nPGk6X3J6HsIbKuJgak8qht5NZ7ONwLY4JMSQpLQCFfWxzO2LuGIZUvO0zQfxaaS3ILTR4UdMDgfCJZKGpnsybrzN1qNyUxZUa78jYQUsM9ZW5_vK5ruTQfGS_H9AlupTnzCUM5zJmHERp4HYMl9mq802OjgNpJuuAAw1Qas9Uh26bJmja0Y6EUNiCtg34_bzTsTttXMb5BoinsheXRSTY6AnErIxl1VqO137M_GBGRt77bOiQLt6HKrthgEC67R4noSA3ABXahcKXr29axnuKzxtdLe5A55RMVvgGMTBV8IbwLDcYXW0WSAOOVwqarjH0-LYemtfh45xdg5WxxAoY6iWSg69wHgipf3hWBtuh_U0lrNfiVBATY6Z6guwXQ1e--P1hrEg8hgr_hJFyidAg8gcXOs0xcIReSvFjgDX_3MZxjUvPREeu7snExNtG-MskUlGoJgPqoPfgz_y_o2ubT9WSolQQJYKoS7JsaGe_-UTFr_D8jahN_FOp6k5Aomy5_eMW73A3h_RGx9gJt_qGGfVVHEIREUhkDIzLElbTLh1jGMZ_s3sbhS7KzpndaEuBdIbsDAH4wFo5SLoMDwOx77iMASxv14yUGYD-TwDGdtMPb4wsT_eC5ZRFynjR6lL_17jAwHRG04ncVTZhmoy8fyc7OG-Avu8SfbHkcYeJgx6RAwdMDsAF5G5ltTtfV47WTmjxLfbmtwke1-I_vo4CtIuL1zrUY-s1hw-SWz4QNNscsKObWbS-lOC9oZxIR3kVTvzXmRPvFsfDTfHLIaVgugstj_L6HINj0wlm2jzZ6AGKNcN7q7ZfJAPiIttL_VECbBpPjtQAprEVPXE5ghia07DisX2gLN395S_dAW7XH_yl2YZklP1k5JiuemO9_jDdG5Ff4UxSMPMnkH4jfBAJGiJxz5mm475H_eMo79yA7KaaY8CrQ-kWlRQ3Gs4M-Q_A8u2N1WWXxQIp4CM3_o9Kh5jX8RKTlB1M4XRiL5UmTyK8cxrd6IJKJrS5Kvbh-oJsGKRp5U-MRhx_pQJKYHDxLZN-Cs1C656nDziIgzAL2R6NfaVnAqHHs4BS3fOmWbay4PsURjcmSIPfsrXO_2HE9IigK8G-l4JtAridsi3TpcRIZvY3d-BkOKRnKgDZr0ys3T6rOFoXVPw5VIMcvGK8_CgNo74A-YqJOrygOvPL8GaQpvHxHuhCy9lvg-WrNUTh0C5X85rLQduWordJOl8vnm8yLqcRqyaP23xijd-tEScmz6B-WZiPnYejSOuprNdzvVdZeDQ_qDL82kyzLiWqxNplhV4-JPymU4uv60NCW6pFqp_fZNTXUPH9HCGd5pUJ3uuSGQJN6v2_VwYBD2tDy6Lc8lGXSrKiy1g7aP0i3YgPMozweuxI-NR2cwozs5_Nhat5Zdl43Pm5hxovBmJYIOPQRb1bDM38Q=s907-w907-h498-s-no-gm?authuser=0');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.container h3
{
    padding-top: 75px;
    text-align: center;
    padding-bottom: 75px;
    
}


.container p
{
    padding-right: 5px;
    text-align: center;
    
}



.main-content
{
    width: 100%;
    max-width: 400px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
} 

.link
{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

.link img
{
    padding-top: 5px;
    width: 45px;
    opacity: 0.5;
    transition: all 0.3s;
}

.link img:hover
{
    opacity: 1;
}

footer
    {
        width: 100%;
        max-width: 100%;
        height: 70px;
        display: flex;
        padding-top: 100%;
        justify-content: center;
        text-align: center;
    }




